body {
    background-image: url("../images/moroccan-flower.png");
}

h1,h2,h3,h4,h5,h6 {
    color:#4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

button {
    background-color: #4aaaa5 !important;
    border-color: #4aaaa5 !important;
}

p {
    color:#777777 !important;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.main_header {
    background-color: #ffffff !important;
    border-color: #cccccc !important;
    /* padding-top: 0% !important; */
    /* padding-bottom: 0% !important; */
    /* margin-top: 0px !important; */
    /* margin-bottom: 0px !important; */
}

.my_name {
    background-color: #4aaaa5 !important;
    color:white !important;

    /* margin-top: 0px !important; */
    /* margin-bottom: 0px !important; */
}

.main_content_border {
    border-width: 3px !important;
}

.main_content {
    background-color: #ffffff !important;
    border-color: #dddddd !important;
    margin-top:20px;
    margin-bottom:60px;
}

.img-container{
    position: relative;
    display: inline-block;
}
.img-text{
    bottom:5%;
    width:100%;
    height:20%;
    font-size: 2em;
    position: absolute;
    background-color: #4aaaa5;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    background-color: #666666 !important;
    border-top: 6px solid #4aaaa5 !important;
    height: 100px;
    /* line-height: 100px; */
    /* padding-bottom: 0px !important; */
    /* margin-bottom: 0px !important; */
    /* text-align: center; */
}
