body {
    background-image: url("../images/moroccan-flower.png");
}

h1,h2,h3,h4,h5,h6 {
    color:#4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

button {
    background-color: #4aaaa5 !important;
    border-color: #4aaaa5 !important;
}

.my_name {
    background-color: #4aaaa5 !important;
    color:white !important;

    /* margin-top: 0px !important; */
    /* margin-bottom: 0px !important; */
}

p {
    color:#777777 !important;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.main_header {
    background-color: #ffffff !important;
    border-color: #cccccc !important;
    /* padding-top: 0% !important; */
    /* padding-bottom: 0% !important; */
    /* margin-top: 0px !important; */
    /* margin-bottom: 0px !important; */
}

.footer {
    background-color: #666666 !important;
    border-top: 6px solid #4aaaa5 !important;
}

.main_content {
    background-color: #ffffff !important;
    border-color: #dddddd !important;
    margin-top:20px;
    margin-bottom:60px;
}
