body {
  margin: 0;
  line-height: 1.5;
  text-transform: uppercase;
  background-color: #3bb3c7;
}

.button {
  background-color: #3bb3c7;
  border: 2px solid white;
  color: white;
  padding: 10px 20px ;
  text-align: center;
  font-size: 16px;

}